.todoForm{
    background-color: white;
    border-radius: 8px;
    padding: 20px;
    width: 500px;
    margin: 0 auto;
    margin-top: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.todoInput{
    width: 100%;
    border: none;
    display: block;
    font-size: 18px;
}

.todoInput:focus{
    outline: none;
}

.addBtn{
    background-color: rgb(105, 54, 152);
    color: white;
    display: inline-block;
    padding: 8px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.todoContainer{
    display: flex;
}